@import "theme"; 

.preview {
    padding: 0.4em;
    margin: 0.25em;

    width: 7em; 

    background-color: $color-primary-light; 


    h4 {
        margin: 0.25em;
        font-size: 0.8em;

        height: 3em;    //For alignment on long names
        text-align: center;
    }

    img {
        object-fit: scale-down; 
        width: 6em;
        height: 8em;
        margin: auto;
        display: block;
    }

    &:hover {
        cursor: pointer;
    }
}